.header {
  padding: var(--main-container-horizontal-padding)
    var(--main-container-horizontal-padding);
}

.heading {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
}

